body {
  background-image: url("Assets/Images/background.png");
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  background-repeat: no-repeat;
}

#navBar {
  width: 100vw;
}

.jumbotron {
  background-color: transparent;
  text-align: center;
  font-weight: bolder;
  color: aliceblue;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#icon {
  width: 10%;
  height: auto;
}

#title {
  text-align: center;
  color: aliceblue;
}

.card {
  margin: 10px;
  background-color: transparent;
}

#cardSlot {
  display: flex;
  justify-content: center;
}

.card-body {
  text-align: center;
  font-weight: bolder;
  color: aliceblue;
}
