body {
    background-image: url('Assets/Images/background.png');
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
}

#navBar {
  width: 100%;
}

.card {
    margin: 10px;
}

#icon {
    width: 10%;
    height: auto;
}

#5DayTitle {
    text-align: center;
}

#card {
    position: relative;
}